<section class="partners">
    <div class="partners__content">
        <div class="partners__text">
            <p>Trusted by companies of all sizes</p>
        </div>
        <div class="partners__imgs">
            <div class="partners__items">
                <img src="../../../assets/img/booking.svg" alt="booking">
            </div>
            <div class="partners__items">
                <img src="../../../assets/img/volkswagen.svg" alt="volkswagen">
            </div>
            <div class="partners__items">
                <img src="../../../assets/img/mercedes.svg" alt="mercedes">
            </div>
            <div class="partners__items">
                <img src="../../../assets/img/pinterest.svg" alt="pinterest">
            </div>
            <div class="partners__items">
                <img src="../../../assets/img/adidas.svg" alt="adidas">
            </div>
            <div class="partners__items">
                <img src="../../../assets/img/paypal.svg" alt="paypal">
            </div>
        </div>
    </div>
</section>