.partners {
    background-color: #f7f8fa;
    padding: 20px 0;
    margin-top: 10%;
}

.partners .partners__content {
    width: 70%;
    margin: 0 auto;
}

.partners .partners__content .partners__text {
    text-align: center;
}

.partners .partners__content .partners__imgs {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .partners .partners__content {
        width: 80%;
    }
}

@media screen and (max-width: 992px) {
    .partners .partners__content {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .partners .partners__content {
        width: 60%;
    }
    .partners .partners__content .partners__imgs {
        flex-wrap: wrap;
    }
    .partners .partners__content .partners__imgs .partners__items {
        width: 50%;
        text-align: center;
        margin-bottom: 10px;
    }
}