<div class="myNavBar__buttons">
    <button *ngIf="isAuthenticated" class="button button--white" routerLink="/login">Log In</button>
    <button *ngIf="isAuthenticated" class="button button--red" routerLink="/">Sign Up</button>
</div>

<div *ngIf="!isAuthenticated && username" class="dropdown">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
        Welcome back {{username}}
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Edit profile</a>
        <a class="dropdown-item" href="#">Signout</a>
        <a class="dropdown-item">Add payment</a>
    </div>
</div> 

<!-- <li class="nav-item">
    <div class="myNavBar__buttons" *ngIf="isAuthenticated">
        <button class="button button--white" routerLink="/login">Log In</button>
        <button class="button button--red" routerLink="/">Sign Up</button> 
    </div>

    
</li> -->