<div class="container-fluid cartDetails">
    <h1 class="p-3">Shopping Cart</h1>
</div>
<h5 class="container-fluid">5 Courses in Cart</h5>
<div class="container-fluid courses">
    <div class="row p-3">
        <div class="col-xl-8">
            <div class="row courseBorder mt-5">
                <div class="col-xl-3">
                    <img src="../../../assets/img/kh1.jpg" class="mt-1">
                </div>
                <div class="col-xl-5">
                    <p class="courseName">Spring Security Zero to Master</p>
                    <p>By Eazy Bytes, Training on Java, Full Stack, Soring & ODM</p>
                </div>
                <div class="col-xl-2">
                    <a href="#">Remove</a>
                    <a href="#">Save for Later</a>
                    <a href="#">Move to Wishlist</a>
                </div>
                <div class="col-xl-2">
                    <p class="courseName price">CA$11.11</p>
                </div>
            </div>
            <div class="row courseBorder">
                <div class="col-xl-3">
                    <img src="../../../assets/img/kh2.jpg" class="mt-1">
                </div>
                <div class="col-xl-5">
                    <p class="courseName">JSON Web Token (JWT) with pring Security and Angular</p>
                    <p>By Get Arrays, Software Development Teaching Plattform</p>
                </div>
                <div class="col-xl-2">
                    <a href="#">Remove</a>
                    <a href="#">Save for Later</a>
                    <a href="#">Move to Wishlist</a>
                </div>
                <div class="col-xl-2">
                    <p class="courseName price">CA$11.11</p>
                </div>
            </div>
            <div class="row courseBorder">
                <div class="col-xl-3">
                    <img src="../../../assets/img/kh3.jpg" class="mt-1">
                </div>
                <div class="col-xl-5">
                    <p class="courseName">REST API Security with Java Spring Boot</p>
                    <p>By Timotius Pamungkas, Java Software Enginner, Architect</p>
                </div>
                <div class="col-xl-2">
                    <a href="#">Remove</a>
                    <a href="#">Save for Later</a>
                    <a href="#">Move to Wishlist</a>
                </div>
                <div class="col-xl-2">
                    <p class="courseName price">CA$11.11</p>
                </div>
            </div>
            <div class="row courseBorder">
                <div class="col-xl-3">
                    <img src="../../../assets/img/kh5.jpg" class="mt-1">
                </div>
                <div class="col-xl-5">
                    <p class="courseName">Spring & Hibernate for Beginners (includes Spring Boot)</p>
                    <p>By Chad Darby, Popular Java Spring Instructor - Best Seller</p>
                </div>
                <div class="col-xl-2">
                    <a href="#">Remove</a>
                    <a href="#">Save for Later</a>
                    <a href="#">Move to Wishlist</a>
                </div>
                <div class="col-xl-2">
                    <p class="courseName price">CA$11.11</p>
                </div>
            </div>
            <div class="row courseBorder">
                <div class="col-xl-3">
                    <img src="../../../assets/img/kh6.jpg" class="mt-1">
                </div>
                <div class="col-xl-5">
                    <p class="courseName">Master Microservices with Spring Boot and Spring Cloud</p>
                    <p>By in28Minutes Official, Devops, Azure, GCP, Docke, Kubernetes, Java & Spring Boot</p>
                </div>
                <div class="col-xl-2">
                    <a href="#">Remove</a>
                    <a href="#">Save for Later</a>
                    <a href="#">Move to Wishlist</a>
                </div>
                <div class="col-xl-2">
                    <p class="courseName price">CA$11.11</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 subtotal mt-5">
            <p class="ml-5">Subtotal: <strong class="ml-5 totalPrice">CA$55.55</strong></p>
            <button class="btn checkoutButton ml-5" routerLink="/payment">Checkout</button>
        </div>
    </div>
</div>